In [ ]:
import streamlit as st
import psycopg2
from dotenv import load_dotenv
import os
load_dotenv()

conn = psycopg2.connect(host=os.environ['POSTGRE_HOST'],database=os.environ['POSTGRE_DATABASE'],user=os.environ['POSTGRE_USER'],password=os.environ['POSTGRE_PASSWORD'])
with conn:
    with conn.cursor() as cursor:
        sql = '''
        SELECT * FROM 市場
        '''
        cursor.execute(sql)
        all_country = cursor.fetchall()
conn.close()

input_dict = dict(all_country)
input_dict.items()
input_dict.keys()
input_dict.values()

dict_values(['台灣', '香港恒生'])

In [9]:
import streamlit as st
import psycopg2
from dotenv import load_dotenv
import os
import pandas as pd
load_dotenv()

def getData(country):
    conn = psycopg2.connect(host=os.environ['POSTGRE_HOST'],
                            database=os.environ['POSTGRE_DATABASE'],
                            user=os.environ['POSTGRE_USER'],
                            password=os.environ['POSTGRE_PASSWORD'])
    with conn:
        with conn.cursor() as cursor:
            sql = '''
            SELECT country,市場.name,date,adj_close,volume
            FROM 股市 JOIN 市場 ON 股市.name = 市場.name
            WHERE country = %s;
            '''
            cursor.execute(sql,(country,))
            all_data = cursor.fetchall()
    conn.close()
    return all_data
pd.DataFrame(getData('香港恒生'),columns=['國家','代號','日期','收盤價','成交量'])

        國家    代號          日期               收盤價         成交量
0     香港恒生  ^HSI  1989-07-12   2477.5000000000           0
1     香港恒生  ^HSI  1989-11-07   2738.1000976563           0
2     香港恒生  ^HSI  1989-11-08   2731.1000976563           0
3     香港恒生  ^HSI  1989-11-09   2781.3999023438           0
4     香港恒生  ^HSI  1989-11-10   2776.8999023438           0
...    ...   ...         ...               ...         ...
9335  香港恒生  ^HSI  2024-10-28  20599.3593750000  2978600000
9336  香港恒生  ^HSI  2024-10-29  20701.1406250000  3137700000
9337  香港恒生  ^HSI  2024-10-30  20380.6406250000  3626500000
9338  香港恒生  ^HSI  2024-10-31  20317.3300781250  3238200000
9339  香港恒生  ^HSI  2024-11-01  20506.4296875000  3278800000

[9340 rows x 5 columns]