In [ ]:
import streamlit as st
import psycopg2
from dotenv import load_dotenv
import os
load_dotenv()

conn = psycopg2.connect(host=os.environ['POSTGRE_HOST'],database=os.environ['POSTGRE_DATABASE'],user=os.environ['POSTGRE_USER'],password=os.environ['POSTGRE_PASSWORD'])
with conn:
    with conn.cursor() as cursor:
        sql = '''
        SELECT * FROM 市場
        '''
        cursor.execute(sql)
        all_country = cursor.fetchall()
conn.close()

input_dict = dict(all_country)
input_dict.items()
input_dict.keys()
input_dict.values()

dict_values(['台灣', '香港恒生'])

In [19]:
import streamlit as st
import psycopg2
from dotenv import load_dotenv
import os
import pandas as pd
load_dotenv()

def getData(country:tuple[str])->list[tuple]:
    conn = psycopg2.connect(host=os.environ['POSTGRE_HOST'],
                            database=os.environ['POSTGRE_DATABASE'],
                            user=os.environ['POSTGRE_USER'],
                            password=os.environ['POSTGRE_PASSWORD'])
    with conn:
        with conn.cursor() as cursor:
            sql = '''
            SELECT country,市場.name,date,adj_close,volume
            FROM 股市 JOIN 市場 ON 股市.name = 市場.name
            WHERE country IN %s;
            '''
            cursor.execute(sql,(country,))
            all_data = cursor.fetchall()
    conn.close()
    return all_data
df = pd.DataFrame(getData(('台灣','香港恒生')),columns=['國家','代號','日期','收盤價','成交量'])
df['收盤價'] = df['收盤價'].astype('float').round(decimals=2)
df

         國家     代號          日期       收盤價         成交量
0        台灣  ^TWII  1997-07-02   8996.68           0
1        台灣  ^TWII  1997-07-03   9027.59           0
2        台灣  ^TWII  1997-07-04   9192.53           0
3        台灣  ^TWII  1997-07-07   9322.80           0
4        台灣  ^TWII  1997-07-08   9305.23           0
...     ...    ...         ...       ...         ...
16038  香港恒生   ^HSI  2024-10-28  20599.36  2978600000
16039  香港恒生   ^HSI  2024-10-29  20701.14  3137700000
16040  香港恒生   ^HSI  2024-10-30  20380.64  3626500000
16041  香港恒生   ^HSI  2024-10-31  20317.33  3238200000
16042  香港恒生   ^HSI  2024-11-01  20506.43  3278800000

[16043 rows x 5 columns]