#### tuple
- 暫時的資料
- 可儲存多的值
- 不可以修改,新增,刪除元素
- 序列,串列資類(for in操作)

In [5]:
#建立tuple
tu1 = (1, 3, 5, 7, 9)
print(tu1[0])
print(tu1[1])
print(tu1[2])
print(tu1[3])
print(tu1[4])

1
3
5
7
9

In [6]:
for value in tu1:
    print(value)

1
3
5
7
9

In [7]:
for letter in 'Hello! World!':
    print(letter)

H
e
l
l
o
!

W
o
r
l
d
!

In [8]:
type(tu1)

tuple

#### list
- 可儲存多的值
- 可以修改,新增,刪除元素
- 序列,串列資類(for in操作)

In [10]:
#建立list
li1 = [2, 4, 6, 8, 10]
li1[0]
li1[1]
li1[2]
li1[3]
li1[4]

10

In [11]:
for element in li1:
    print(element)

2
4
6
8
10

In [13]:
type(li1)

list

In [18]:
li2 = list()
li2.append('a')
li2.append(300)
li2.append('python')
li2.append(56.0)
li2

['a', 300, 'python', 56.0]

#### dict
- mapping(key,value)
- key不可以重覆

In [19]:
codes = {'tw':'taiwan',
         'jp':'japan'}
codes

{'tw': 'taiwan', 'jp': 'japan'}

In [21]:
#取出值
print(codes['tw'])
print(codes['jp'])

taiwan
japan

In [22]:
#新增元素
codes['hk'] = 'hong kong'
codes

{'tw': 'taiwan', 'jp': 'japan', 'hk': 'hong kong'}

In [24]:
#建立空的dict
dict1 = dict()
dict1

{}

In [26]:
for key in codes:
    print(codes[key])

taiwan
japan
hong kong

In [28]:
#tuple拆解法
(n, m) = (10, 20)
n
m

20