#### tuple
- 暫時的資料
- 可儲存多的值
- 不可以修改,新增,刪除元素
- 序列,串列資類(for in操作)

In [5]:
#建立tuple
tu1 = (1, 3, 5, 7, 9)
print(tu1[0])
print(tu1[1])
print(tu1[2])
print(tu1[3])
print(tu1[4])

1
3
5
7
9

In [6]:
for value in tu1:
    print(value)

1
3
5
7
9

In [7]:
for letter in 'Hello! World!':
    print(letter)

H
e
l
l
o
!

W
o
r
l
d
!

In [8]:
type(tu1)

tuple

#### list
- 可儲存多的值
- 可以修改,新增,刪除元素
- 序列,串列資類(for in操作)

In [10]:
#建立list
li1 = [2, 4, 6, 8, 10]
li1[0]
li1[1]
li1[2]
li1[3]
li1[4]

10

In [11]:
for element in li1:
    print(element)

2
4
6
8
10

In [13]:
type(li1)

list

In [18]:
li2 = list()
li2.append('a')
li2.append(300)
li2.append('python')
li2.append(56.0)
li2

['a', 300, 'python', 56.0]